<ion-header>  
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  
      <ion-title>Navigate</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content class="background">
      <h1><img src="assets/imgs/NavigateMe logo.png" height="100" width="100"></h1>

      <ion-card>
          <!-- <ion-item>
            <ion-icon name="md-arrow-round-up" item-start medium></ion-icon>
            <h2>Take an elevator to Level 19</h2>
          </ion-item> -->

              <ion-item *ngFor="let routes of route" text-wrap>
                <ion-icon *ngIf="getRouteArrow(routes) == 1" name="md-arrow-round-up" item-start medium></ion-icon>
                <ion-icon *ngIf="getRouteArrow(routes) == 2" name="arrow-round-forward" item-start medium></ion-icon>
                <ion-icon *ngIf="getRouteArrow(routes) == 3" name="arrow-round-back" item-start medium></ion-icon>

                <h2>{{routes}}</h2>
              </ion-item>

          <ion-item text-wrap>
              <ion-icon name="md-pin" item-start medium></ion-icon>
              <h2>You have arrived to your destination</h2>
            </ion-item>
        </ion-card>
  </ion-content>
  
  