<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Location</ion-title>
  </ion-navbar>
</ion-header>

<ion-content ng-controller="ExampleController">

  <!-- <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionClear)="ionClear($event)" (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <ion-list>

    <ion-item-sliding *ngFor="let location of searchResult">
      <ion-item (click)="selectLocation(location)">
        <h3><b>{{location.location_name}}</b></h3>
      </ion-item>

    </ion-item-sliding>
  </ion-list> -->
  <button ion-button color="primary" block outline (click)="startScanningForBeacons()">Scan</button>
  <button ion-button color="primary" block outline (click)="stop()">Stop</button>
  
  <!-- <ion-list *ngIf="beaconList">
    <ion-item *ngFor="let beacon of beaconList">
      {{beacon.address }} <br>
      {{beacon.distance }}<br>
      {{beacon.distancefiltered }}
    </ion-item>
  </ion-list> -->
  <img id="map" usemap="#planetmap">

<map name="planetmap">
    <area shape="circle">
</map>
</ion-content>