<ion-header>

  <ion-navbar>
    <ion-buttons>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Navigate</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="search">
      <ion-segment-button value="staffs" (click)="changeSegment()">
        Staffs
      </ion-segment-button>
      <ion-segment-button value="offices" (click)="changeSegment()">
        Offices
      </ion-segment-button>
      <ion-segment-button value="classrooms" (click)="changeSegment()">
        Classrooms
      </ion-segment-button>
      <ion-segment-button value="facilities" (click)="changeSegment()">
        Facilities
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <div [ngSwitch]="search">
    <ion-list *ngSwitchCase="'staffs'">

      <ion-item-sliding *ngFor="let staff of staffInformation()">
        <ion-item (click)="doAlert(staff)">
          <ion-avatar item-start>
            <img src="assets/imgs/avatar-user-business-man-399587fe24739d5a-512x512.png">
          </ion-avatar>
          <h3><b>{{staff.prefix + " " + staff.full_name}}</b></h3>
          <h3><b>{{staff.position}}</b></h3>
          <h3>{{staff.address}}</h3>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button (click)="sendSMS(staff.phone_num)" color="primary">
            <ion-icon name="text"></ion-icon>
            Text
          </button>
          <button ion-button (click)="call(staff.phone_num)" color="secondary">
            <ion-icon name="call"></ion-icon>
            Call
          </button>
        </ion-item-options>
        <ion-item-options (click)="NavigateStaff()" side="right">
          <button ion-button color="primary">
            <ion-icon name="ios-navigate"></ion-icon>
            Navigate
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'offices'">
      <ion-item-sliding *ngFor="let location of locationInformationOffices()">

        <ion-item (click)="doAlertOffices(location)">
          <ion-avatar item-start>
            <img src="assets/imgs/avatar-user-business-man-399587fe24739d5a-512x512.png">
          </ion-avatar>
          <h3><b>{{location.location_name}}</b></h3>
          <h3>{{location.address}}</h3>
        </ion-item>

        <ion-item-options side="left">
          <button ion-button (click)="sendSMS(location.phone_num)" color="primary">
            <ion-icon name="text"></ion-icon>
            Text
          </button>
          <button ion-button (click)="call(location.phone_num)" color="secondary">
            <ion-icon name="call"></ion-icon>
            Call
          </button>
        </ion-item-options>
        <ion-item-options (click)="NavigateStaff()" side="right">
          <button ion-button color="primary">
            <ion-icon name="ios-navigate"></ion-icon>
            Navigate
          </button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>

    <ion-list *ngSwitchCase="'classrooms'">
      <ion-item-sliding *ngFor="let location of locationInformationClassrooms()">

        <ion-item (click)="doAlert()">
          <ion-avatar item-start>
            <img src="assets/imgs/avatar-user-business-man-399587fe24739d5a-512x512.png">
          </ion-avatar>
          <h3><b>{{location.location_name}}</b></h3>
          <h3>{{location.address}}</h3>
          <p>{{location.phone_num}}</p>
        </ion-item>
      </ion-item-sliding>

    </ion-list>

    <ion-list *ngSwitchCase="'facilities'">
      <ion-item-sliding *ngFor="let location of locationInformationFacilities()">

        <ion-item (click)="doAlert()">
          <ion-avatar item-start>
            <img src="assets/imgs/avatar-user-business-man-399587fe24739d5a-512x512.png">
          </ion-avatar>
          <h3><b>{{location.location_name}}</b></h3>
          <h3>{{location.address}}</h3>
        </ion-item>
      </ion-item-sliding>

    </ion-list>
  </div>

</ion-content>