<ion-header>
  <ion-navbar>
    <ion-title>Create Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
    <h1><img src="assets/imgs/NavigateMe logo.png" height="100" width="100"></h1>
    <ion-card>
    <ion-card-content>

      <ion-list no-lines>
        <form [formGroup]="signupForm">

          <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input formControlName="email" [(ngModel)]="email" placeholder="" type="text"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label stacked>Full Name</ion-label>
              <ion-input formControlName="fullname" [(ngModel)]="fullname" placeholder="" type="text"></ion-input>
            </ion-item>

          <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input formControlName="password" [(ngModel)]="password" placeholder="" type="password"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label stacked>Mobile Number</ion-label>
              <ion-input formControlName="phone_num" [(ngModel)]="phone_num" placeholder="" type="text"></ion-input>
            </ion-item>

          <ion-item>
            <ion-label stacked>Role</ion-label>
            <ion-select formControlName="role">
              <ion-option value="1">Staff</ion-option>
              <ion-option value="2">Student</ion-option>
              <ion-option value="3">Guest</ion-option>
            </ion-select>
          </ion-item>

          <!-- loop position information db data -->

          <ion-item *ngIf="signupForm.value.role === '1'"> 
              <ion-label stacked>Prefix</ion-label>
              <ion-select formControlName="prefix">
                <ion-option value="Mr.">Mr.</ion-option>
                <ion-option value="Mrs.">Mrs.</ion-option>
                <ion-option value="Dr.">Dr.</ion-option>
                <ion-option value="Prof.">Prof.</ion-option>
                <ion-option value="Sir.">Sir.</ion-option>
                <ion-option value="Madam">Madam</ion-option>
              </ion-select>
            </ion-item>

          <ion-item *ngIf="signupForm.value.role === '1'"> 
            <ion-label stacked>Position</ion-label>
            <ion-select formControlName="position">
              <ion-option value="Lecturer">Lecturer</ion-option>
              <ion-option value="Senior Lecturer">Senior Lecturer</ion-option>
              <ion-option value="Deputy Dean">Deputy Dean</ion-option>
              <ion-option value="Dean">Dean</ion-option>
            </ion-select>
          </ion-item>

          <!-- loop address information db data -->
          <ion-item *ngIf="signupForm.value.role === '1'"> 
              <ion-label stacked>Office</ion-label>
              <ion-select formControlName="address">
                <ion-option value="1901">Room 1901</ion-option>
                <ion-option value="1902">Room 1902</ion-option>
                <ion-option value="1903">Room 1903</ion-option>
                <ion-option value="1904">Room 1904</ion-option>
              </ion-select>
            </ion-item>

          <button ion-button color="primary" block outline (click)="signup(signupForm.value)">Sign Up</button>
        </form>
      </ion-list>

    </ion-card-content>

  </ion-card>

</ion-content>